body{
    background-color: #414646;
    font-family: Arial, Helvetica, sans-serif;
}

#login{
    background-color: rgba(172, 51, 152, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px;
    border-radius: 15px;
    color: white;
}

#inputlogin{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

#btnlogin{
    background-color: rgb(10, 15, 20);
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

#btnlogin:hover{
    background-color: rgb(22, 28, 31);
    cursor: pointer;
}

#cab{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;  
    background-color: #2d2f30;
    color: white;
}

ul{
    list-style: none;
    display: flex;
    margin-left: 70%;
    margin-top: -10px;
}

li{
    margin-right: 30px;
    margin-top: 30px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}

#links:hover{
    font-family: fantasy;
}

#icone{
    width: 20px;
    height: 20px;
}

